html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.2;
  color: rgb(38, 38, 39);
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

* {
  box-sizing: border-box;
}
