.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5B5661;
}

.navigation {
  display: fixed;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1001;
}

.nav1 {
  position: absolute;
  top: 0px;
  z-index: 100;
  width: 100%;
  height: 120px;
  background-color: hsla(348, 25%, 61%, 50%);
  color: rgb(38, 38, 39);
}

.nav2 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
  position: relative;
  align-self: center;
  margin: auto;
  max-width: 1200px;
  width: 100%;
  padding-top: 0px;
  padding-right: 24px;
  padding-bottom: 0px;
  padding-left: 24px;
}

.nav3 {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  height: 120px;
  grid-column-start: 1;
  grid-column-end: span 12;
}

.navName {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-right: auto;
}

.navNameLink {
  line-height: 0;
}

.navButtons {
  display: flex;
}

.navButton {
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  border: none;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
  margin-left: 24px;
  padding: 8px;
  transition-property: opacity;
  transition-duration: 0.2;
  transition-timing-function: ease-in;
  transition-delay: 0s;
  opacity: 1;
}

.navButton:hover {
  opacity: 0.8;
}

.navDropDown {
  position: absolute;
  top: 0px;
  width: 100%;
  overflow: hidden;
  transition-property: padding-top;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-delay: 0s;
  padding-top: 0px;
  background-color: rgb(255, 255, 255);
  color: rgb(38, 38, 39);
  display: block;
}

.navDropMenu {
  min-height: 350px;
  margin-top: 30px;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  color: rgb(255, 255, 255);
  transform: translateY(7%);
  transition-property: transform;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-delay: 0s;
}

.navDropGrid {
  display: grid;
  row-gap: 0px;
  column-gap: 24px;
  grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 0px;
  padding-right: 32px;
  padding-bottom: 0px;
  padding-left: 32px;
}

.navLink {
  color: inherit;
  cursor: pointer;
  font-size: 16px;
  line-height: 19px;
  margin-left: 24px;
  padding: 8px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.navLink:hover {
  opacity: 0.8;
}

.main {
  width: 100%;
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(255,205,178);
  background: -moz-radial-gradient(circle, rgba(255,205,178,1) 0%, rgba(255,180,162,1) 27%, rgba(229,152,155,1) 50%, rgba(181,131,141,1) 76%, rgba(109,104,117,1) 95%);
  background: -webkit-radial-gradient(circle, rgba(255,205,178,1) 0%, rgba(255,180,162,1) 27%, rgba(229,152,155,1) 50%, rgba(181,131,141,1) 76%, rgba(109,104,117,1) 95%);
  background: radial-gradient(circle, rgba(255,205,178,1) 0%, rgba(255,180,162,1) 27%, rgba(229,152,155,1) 50%, rgba(181,131,141,1) 76%, rgba(109,104,117,1) 95%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffcdb2",endColorstr="#6d6875",GradientType=1);
}

.spacer {
  width: 100%;
  margin-top: 3rem;
  border-top: 1px solid #5B5661;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #5B5661;
  border-color: #5B5661;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.dmlogo {
  fill: none;
  width: 253px;
  height: 120px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
